<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>

        <li>
            <a class="nav-link" href="/auth/graphData">Home</a>
        </li>
        <li>
            <a class="nav-link" href="/auth/myBudget">My Budget</a>
        </li>
        <li>
        <div class="col-12 text-light">Logged in as <%= user_email %></div>
        </li>
    </ul>
</nav>